<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "shana.jpg" %>
  </div>

  <div id="content">
    <h1>Hi, I'm Shana Moore</h1>
    <p>Working as administrative support for several years, I first knew I'd be interested in programming after teaching myself how to problem solve and manipulate Excel with code, to better customize the needs of my team. My interest in web development stemmed from the desire to create an extension of my Youtube channel, in the form of a website and/or app, but my curiosity didn't stop there. After attending many meetup groups and events I particularly fell in love with Ruby and its warm community, but I've enjoyed learning other languages and frameworks too!  Because of this, I'm flexible with my preferences and will continue to use/learn whatever tools are best for the tasks at hand. Check out my <a href="http://shanalmoore.com/">resume</a>!</p>

    <p>I'm a recent graduate from a remote full-stack development program, and I'm actively seeking an opportunity where I can contribute my unique background and skills towards an awesome team, building products that'll positively impact the lives of others. Additionally, I'm a highly-motivated individual who enjoys giving back to the community in the forms of: blogging, volunteering and mentoring. I'm the chapter co-leader for <a href="https://www.girldevelopit.com/">Girl Develop It</a> San Diego, and I'm currently interning at Qualcomm.</p>

   <p>Follow my journey, <%= link_to "here", posts_path %>!</p>
  </div>
</div>